@import "~billing-ui/styles/variables";

:local {
    .wrapper {
        width: 44px;
        margin-left: 21px;
    }

    .placeholder {
        width: 100%;
        padding: 0;

        text-align: center;
    }

    .input {
        text-align: center;
    }
}
