@import "../../styles/placeholders";
@import "../../styles/variables";
@import "../../styles/bourbon";

:local {
    .wrapper {
        position: relative;

        display: inline-block;
        margin: 5px 5px 4px;
    }

    .label {
        @extend %as-inline-block;

        position: relative;

        max-width: 187px;
        padding: 0 25px 2px 10px;

        overflow: hidden;

        border-radius: 20px;
        background: $bgElementActiveLightColor;

        font-size: $fontSizeBig;
        line-height: $lineHeightSmall;
        text-overflow: ellipsis;
    }

    .icon {
        @include position(absolute, 2px 5px null null);

        color: $textSecondaryColor;

        cursor: pointer;
    }
}
