@import "../../styles/variables";

:local {
    .wrapper {
        position: relative;

        display: inline-block;
        max-width: 50%;
        padding: 5px 5px 4px;
        box-sizing: border-box;

        vertical-align: middle;

        cursor: default;

        &.edit-mode {
            max-width: 100%;
            padding: 3px 5px 4px;
        }
    }

    .input[type="text"],
    .input[type="text"]:hover,
    .input[type="text"]:focus {
        max-width: 100%;
        height: 23px;
        padding: 0 8px 0 10px;
        box-sizing: border-box;

        border: none;
        outline: none;

        line-height: $lineHeightRegular;
    }

    .label {
        :local(.active) & {
            box-shadow: 0 0 0 2px $borderFocusColor;
        }
    }
}
