@import "../../styles/variables";
@import "../../styles/materialdesign";

:local {
    .wrapper {
        @extend %material-input-text-big;

        position: relative;

        white-space: normal;
        text-overflow: initial;

        cursor: text;

        &.focus {
            @extend %input-base-focused;
        }
    }

    input[type="text"].input {
        border-bottom: none;

        font-size: $fontSizeBig;
        text-overflow: initial;

        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }

    .autocompleteWrapper,
    .inputWrapper {
        position: initial;
    }

    .inputHighlight {
        top: initial;
        bottom: 6px;
        left: initial;

        height: 15px;
    }
}
