@import "../../styles/bourbon";
@import "../../styles/variables";

:local {
    .loader {
        position: relative;
        z-index: inherit;

        display: inline-block;
        width: 100%;
        box-sizing: border-box;

        &.active:after {
            @include position(absolute, 0 0 0 0);

            content: " ";

            z-index: 1000;
        }
    }

    .spinnerContainerCenter {
        @include position(absolute, 0 0 0 0);

        z-index: 1001;

        display: block;
        margin: auto;

        background: $bgWhiteColor;

        text-align: center;

        :global {
            animation: loaderFadeIn;
            animation-duration: 1000ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        &:before {
            content: " ";

            display: inline-block;
            height: 100%;
            min-height: 100%;

            vertical-align: middle;
        }
    }
}

@keyframes loaderFadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: .8;
    }
}
