@import "../variables";
@import "../placeholders";

%with-tick {
    width: 14px;
    height: 13px;

    background-size: contain;
}

%stylized-checkBox {
    @extend %as-hidden;

    &:checked ~ %stylized-checkBox-label:hover:before {
        opacity: 1;

        transition: all .1s ease-out;
    }

    &:checked ~ %stylized-checkBox-label:after {
        @extend %with-tick;

        opacity: 1;

        transition: all .3s ease-out;

        background: url("../../svg/tick_black.svg") 0 0 no-repeat;
    }

    &:checked ~ %stylized-checkBox-label:before {
        opacity: 0;
    }

    &:checked ~ %stylized-checkBox-label {
        color: $textBaseColor;
    }

    &:disabled,
    &:disabled ~ %stylized-checkBox-label {
        opacity: .5;

        color: $textBaseColor;

        cursor: default;
    }

    &:disabled ~ %stylized-checkBox-label:hover:after,
    &:disabled:checked ~ %stylized-checkBox-label:before,
    &:disabled:checked ~ %stylized-checkBox-label:hover:before {
        opacity: 0;
    }

    &:disabled ~ %stylized-checkBox-label:before,
    &:disabled:checked ~ %stylized-checkBox-label:after,
    &:disabled:checked ~ %stylized-checkBox-label:hover:after {
        opacity: 1;
    }
}

%stylized-checkBox-label {
    position: relative;

    display: inline-block;

    color: $textInactiveColor;
    line-height: 1.2;

    &:hover {
        color: $textBaseColor;

        cursor: pointer;
    }

    &:before {
        content: "";

        position: relative;
        top: 3px;

        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;

        border: 2px solid $borderInputColor;
        background: $bgWhiteColor;
    }

    &:after {
        content: "";

        position: absolute;
        top: 6px;
        left: 4px;

        display: block;
        width: 16px;
        height: 16px;
        margin-right: 10px;

        opacity: 0;
    }

    &:hover:after {
        @extend %with-tick;

        opacity: 1;

        transition: all .1s ease-out;

        background: url("../../svg/tick_grey.svg") 0 0 no-repeat;
    }
}
