@import "./../../styles/bourbon";
@import "./../../styles/materialdesign";
@import "./../../styles/placeholders";
@import "./../../styles/variables";
$textStageDoneColor: #23d160;

:local {
    .wrapper {
        @extend %as-inline-block;

        position: relative;
    }

    .strikethrough {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;

        & .label {
            margin-right: 70px;
            padding-right: 10px;
        }

        & .checkbox {
            &:checked ~ .label {
                color: $textSecondaryColor;

                & .line-through {
                    width: 100%;

                    background-color: $textSecondaryColor;
                }

                &:after {
                    border-color: $borderInputColor;
                }
            }
        }

        &.with-animation .checkbox {
            &:checked ~ .label {
                transition: color cubic-bezier(.6, .04, .98, .34) 3s;
                animation-duration: 3s;
                animation-delay: .4s;
                animation-fill-mode: forwards;

                color: $textBaseColor;

                :global {
                    animation-name: text-highlight-on-check;
                }

                &:after {
                    transition: cubic-bezier(.78, -1.22, .17, 1.89) .5s;
                    animation-duration: 3s;
                    animation-delay: .4s;
                    animation-fill-mode: forwards;

                    :global {
                        animation-name: tick-highlight-on-check;
                    }
                }

                & .line-through {
                    transition: width cubic-bezier(.78, -1.22, .17, 1.89) .5s;
                    animation-duration: 3s;
                    animation-delay: .5s;
                    animation-fill-mode: forwards;

                    background-color: $textBaseColor;

                    :global {
                        animation-name: line-highlight-on-check;
                    }
                }
            }
        }
    }

    .checkbox {
        @extend %stylized-checkBox;
    }

    .label {
        @extend %stylized-checkBox-label;

        &.partially {
            &:after {
                @include position(absolute, 11px null null 4px);

                width: 12px;
                height: 3px;

                opacity: 1;

                transform: rotate(0deg);

                border: none;
                background-color: $textInactiveColor;
            }

            &:hover:after {
                background-color: $textBaseColor;
            }
        }
    }

    .content {
        position: relative;
        top: -1px;
    }

    .line-through {
        @include position(absolute, calc(50% + 2px) null null 0);

        width: 0;
        height: 1px;

        transition: all ease-out .2s;

        background-color: $textBaseColor;
    }
}

@keyframes text-highlight-on-check {
    0% {
        color: $textBaseColor;
    }

    10%,
    60% {
        color: $textStageDoneColor;
    }

    70%,
    100% {
        color: $textSecondaryColor;
    }
}

@keyframes line-highlight-on-check {
    0% {
        background-color: $textBaseColor;
    }

    10%,
    60% {
        background-color: $textStageDoneColor;
    }

    70%,
    100% {
        background-color: $textSecondaryColor;
    }
}

@keyframes tick-highlight-on-check {
    0% {
        border-color: $textSecondaryColor;
    }

    10%,
    60% {
        border-color: $textStageDoneColor;
    }

    70%,
    100% {
        border-color: $textInactiveColor;
    }
}
