@import "../../styles/bourbon";
@import "../../styles/variables";
@import "../Tooltip/Tooltip";

:local {
    .icon {
        @include position(absolute, 0 2px null null);

        z-index: $loaderZIndex + 1;

        color: $textDarkColor;

        cursor: pointer;

        &:hover {
            color: $linkActiveColor;
        }
    }

    .popup {
        width: auto;
        padding: 0;
    }

    .loader {
        padding: 20px;
    }
}
