@import "../../styles/mixins/form_action_bar";
@import "../../styles/variables";

:local {
    @include action-bar();

    %as-fixed {
        position: fixed;
        bottom: 0;

        margin-bottom: 0;

        transition: all .3s ease-in-out;
    }

    .ghost-actionsBar {
        visibility: hidden;
    }

    .actionsBar {
        z-index: $panelZIndex;

        box-sizing: border-box;

        backface-visibility: hidden;

        &.fixed {
            @extend %as-fixed;
        }

        &.ms-device-fixed {
            @extend %as-fixed;

            position: -ms-device-fixed;
        }
    }
}
