@import "./../../styles/variables";
@import "./../../styles/placeholders";

:local {
    .pagination {
        border-top: 1px solid $borderDarkColor;
        box-shadow: 0 -1px 0 $borderLightColor;
    }

    .row {
        margin: 10px 0;

        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    .link {
        @extend %as-link;
        @extend %as-inline-block;

        width: 60px;

        font-size: $fontSizeRegularHeader;
        text-align: center;
    }

    .active {
        position: relative;

        margin: 0 20px;

        color: $textBaseColor;
        font-size: $fontSizeRegularHeader;

        &:before {
            @include position(absolute, -6px null null 50%);

            content: "";

            width: 50px;
            height: 3px;
            margin-left: -25px;

            background: $textBaseColor;
        }
    }
}
