@import "./../../styles/variables";
@import "./../../styles/placeholders";

:local {
    %row-item {
        @extend %as-inline-block;

        width: 25px;
        padding: 5px 0;

        text-align: center;
    }

    .pagination {
        margin: 10px 0;
    }

    .row {
        font-size: $fontSizeBig;
        font-weight: bold;
    }

    .link {
        @extend %as-link;
        @extend %row-item;
    }

    .active {
        @extend %row-item;

        background: $bgButtonColor;

        color: $textBaseColor;
    }

    .ellipsis {
        @extend %as-inline-block;

        width: 1em;
        padding: 5px 0;

        font-size: $fontSizeBig;
    }
}
