@import "../../styles/variables";
@import "../../styles/mixins/buttons";

:local {
    @mixin is-small($shadowColor) {
        box-shadow: 0 2px 0 $shadowColor;

        &:hover,
        &:focus {
            box-shadow: 0 3px 0 $shadowColor;
        }

        &.disabled,
        &.disabled:hover,
        &.disabled:focus,
        &.button-disabled,
        &.button-disabled:hover,
        &.button-disabled:focus {
            box-shadow: none;
        }
    }

    .default {
        $shadowColor: darken($bgButtonColor, 15%);

        @include stylized-button-base($bgButtonColor, $textBaseColor);

        &.size-small {
            @include is-small($shadowColor);
        }
    }

    .important {
        $shadowColor: darken($bgImportantButtonColor, 15%);

        @include stylized-button-base($bgImportantButtonColor, $textWhiteColor);

        &.size-small {
            @include is-small($shadowColor);
        }
    }

    .delete {
        $shadowColor: #9e4643;

        @include stylized-button-base($bgDeleteColor, $textWhiteColor, $shadowColor);

        &.size-small {
            @include is-small($shadowColor);
        }
    }

    .button {
        &.size-small {
            padding: 4px 23px;
        }

        &.size-big {
            padding: 15px 10px;
        }
    }
}
