@import "../../styles/variables";
@import "../../styles/mixins/buttons";

:local {
    .default {
        $shadowColor: darken($bgButtonColor, 15%);

        @include stylized-button-base($bgButtonColor, $textBaseColor);

        &.size-small {
            box-shadow: 0 2px 0 $shadowColor;

            &:hover,
            &:focus {
                box-shadow: 0 3px 0 $shadowColor;
            }
        }
    }

    .important {
        $shadowColor: darken($bgImportantButtonColor, 15%);

        @include stylized-button-base($bgImportantButtonColor, $textWhiteColor);

        &.size-small {
            box-shadow: 0 2px 0 $shadowColor;

            &:hover,
            &:focus {
                box-shadow: 0 3px 0 $shadowColor;
            }
        }
    }

    .delete {
        $shadowColor: #9e4643;

        @include stylized-button-base($bgDeleteColor, $textWhiteColor, $shadowColor);

        &.size-small {
            box-shadow: 0 2px 0 $shadowColor;

            &:hover,
            &:focus {
                box-shadow: 0 3px 0 $shadowColor;
            }
        }
    }

    .button {
        &.size-small {
            padding: 4px 23px;
        }

        &.size-big {
            padding: 15px 10px;
        }
    }
}
