@import "~billing-ui/styles/variables";
@import "~billing-ui/styles/mixins";

:local {
    .dots {
        @extend %as-inline-block;

        position: relative;

        padding: 0 9px;

        font-size: $fontSizeTextDotsActions;
    }
}
