@import "../../styles/bourbon";
@import "../../styles/placeholders";
@import "../../styles/variables";

:local {
    .content {
        @extend %as-inline-block;

        position: relative;

        max-width: 100%;
        padding: 0 25px 2px 10px;
        box-sizing: border-box;

        overflow: hidden;

        border-radius: 20px;
        background: $bgElementActiveLightColor;

        font-size: $fontSizeBig;
        line-height: $lineHeightSmall;
        white-space: nowrap;
        text-overflow: ellipsis;

        user-select: none;
        cursor: default;
    }

    .icon {
        @include position(absolute, 2px 5px null null);

        color: $textSecondaryColor;

        cursor: pointer;

        &:hover {
            color: $textBaseColor;
        }
    }
}
