@import "./../../../styles/bourbon";
@import "./../../../styles/variables";

:local {
    %as-inactive {
        pointer-events: none;
        cursor: default;
    }

    .tab {
        position: relative;

        display: inline-block;
        margin-left: 30px;
        padding: 10px 0;
        box-sizing: border-box;

        cursor: pointer;
        user-select: none;

        &,
        &:hover,
        &:visited,
        &:active,
        &:focus {
            color: $textBaseColor;
        }

        &:first-child {
            margin-left: 0;
        }

        &:after {
            @include position(absolute, null null -1px 0);

            content: " ";

            width: 0;
            height: 2px;

            transition: width .1s $transitionBaseTimingFunction;

            background: $themeMainColor;
        }

        &:not(.disabled):hover:after,
        &.active:after {
            width: 100%;
        }

        &.active {
            @extend %as-inactive;
        }

        &.disabled {
            @extend %as-inactive;

            opacity: .3;
        }
    }
}
