@import "../variables";
@import "../materialdesign/buttons";
@import "../placeholders";

@mixin action-bar {
    .actionsBar {
        display: flex;
        margin: 30px -30px -20px;
        padding: 15px 30px;

        background: $bgLightColor;

        align-items: baseline;
    }

    .actionSubmit {
        @extend %stylized-button;
    }

    .actionCancel {
        @extend %as-link;

        margin-left: 10px;

        font-size: 16px;
        font-weight: bold;

        user-select: none;

        &.disabled {
            color: $textInactiveColor;

            cursor: default;
        }
    }
}
