@import "../../styles/placeholders";
@import "../../styles/variables";
@import "../../styles/bourbon";

:local {
    .root {
        @extend %as-inline-block;

        position: relative;
    }

    .menu {
        @include position(absolute, null 0 -1px -3px);

        position: absolute;
        z-index: $dropdownZIndex;

        padding: 0;

        transform: translateY(100%);

        border: 1px solid $borderBaseColor;
        border-radius: 0;
        background: $bgWhiteColor;
        box-shadow: $shadowActionsPopup;
    }
}
