@import "../../styles/placeholders";
@import "../../styles/variables";
@import "../../styles/bourbon";

:local {
    .root {
        @extend %as-inline-block;
    }

    .menuHolder {
        position: relative;
    }

    .menu {
        @include position(absolute, 1px 0 null -3px);

        position: absolute;
        z-index: $dropdownZIndex;

        padding: 0;

        border: 1px solid $borderBaseColor;
        border-radius: 0;
        background: $bgWhiteColor;
        box-shadow: $shadowActionsPopup;
    }

    .item {
        padding: 10px 3px;

        overflow: hidden;

        cursor: pointer;

        &.active {
            background: $bgElementActiveLightColor;
        }
    }

    .option {
        @extend %fading-text;

        margin-bottom: 5px;

        overflow: hidden;

        white-space: nowrap;
        text-overflow: clip;

        :local(.item.active) &:before {
            background-image: linear-gradient(to right, rgba(245, 245, 245, .2), rgb(245, 245, 245) 75%);
        }
    }

    .highlight {
        background: $bgAutocompleteHighlightColor;
    }

    .addition {
        float: right;
        margin-right: -15px;

        color: $textSecondaryColor;
        line-height: $lineHeightRegular;
    }

    .description {
        overflow: hidden;

        color: $textDarkColor;
        font-size: $fontSizeSmall;
        text-overflow: ellipsis;
    }

    .empty {
        padding: 12px 20px 8px;
    }
}
