@import "../../styles/bourbon";
@import "../../styles/variables";
@import "../../styles/placeholders";

:local {
    $dateWidth: 120px;
    $titleLeftIndent: 6px;

    .wrapper {
        margin: -4px 0 0 18px;
    }

    .header {
        display: flex;

        justify-content: space-between;
        align-items: baseline;
    }

    .title {
        @extend %fading-text;

        min-width: calc(100% - #{($dateWidth + $titleLeftIndent)});
        margin-left: $titleLeftIndent;

        font-weight: bold;
        line-height: $lineHeightRegular;
        white-space: nowrap;
    }

    .date {
        color: $textSecondaryColor;
    }

    .textarea {
        width: 100%;
        padding: 0;

        overflow: hidden;

        font-size: $fontSizeBig;
    }

    .input {
        border-bottom: none !important;
        outline: none;

        line-height: $lineHeightRegular;

        resize: none;

        &:focus {
            border-bottom: none !important;
            outline: none;
        }
    }

    .controls {
        @extend %as-clearfix;

        margin-top: 18px;
        margin-left: 4px;
    }

    .button {
        @extend %as-link;

        float: left;
        margin-right: 20px;
    }

    .save {
        margin-right: 10px;

        font-weight: bold;

        &.disabled {
            color: $textDisabledColor;

            cursor: default;
        }
    }

    .delete {
        float: right;
    }

    :global(.global_comment.global-is-editable) .title:before {
        background: linear-gradient(to right, $bgElementActiveLightColor 20%, $bgElementActiveLightColor 75%);
    }
}
