@import "../../styles/bourbon";
@import "../../styles/variables";
@import "../../styles/placeholders";

:local {
    $dateWidth: 120px;
    $titleLeftIndent: 6px;

    .wrapper {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .header {
        display: flex;

        justify-content: space-between;
        align-items: baseline;
    }

    .title {
        @extend %fading-text;

        min-width: calc(100% - #{($dateWidth + $titleLeftIndent)});
        margin-left: $titleLeftIndent;

        font-weight: bold;
        line-height: $lineHeightRegular;
        white-space: nowrap;
    }

    .date {
        color: $textSecondaryColor;
        white-space: nowrap;
    }

    .text {
        margin-left: 22px;

        overflow: hidden;

        transition: height $transitionBaseTime ease-out;

        font-size: $fontSizeBig;
        line-height: $lineHeightRegular;

        &.overflow {
            position: relative;

            margin-bottom: 5px;
        }

        &.collapsed:after {
            @include position(absolute, null null 0 0);

            content: "";

            width: 100%;
            height: 20px;

            background: linear-gradient(to top, $bgWhiteColor, rgba(255, 255, 255, .1));
        }
    }

    .toggle {
        margin-left: 20px;

        font-weight: bold;
    }

    :global(.global_comment:hover) .text.collapsed:after {
        background: linear-gradient(to top, $bgElementActiveLightColor, rgba(245, 245, 245, .1));
    }

    :global(.global_comment:hover) .text.collapsed ~ .toggle {
        color: $linkActiveColor;
    }

    :global(.global_comment:hover) .title:before {
        background: linear-gradient(to right, rgba($bgElementActiveLightColor, .2), $bgElementActiveLightColor 75%);
    }
}
