@import "../../styles/variables";

:local {
    .unhighlight {
        position: relative;
        z-index: 2;

        line-height: $lineHeightRegular;
    }

    .highlight {
        position: relative;
        z-index: 1;

        background-color: $bgAutocompleteHighlightColor;

        line-height: $lineHeightRegular;
    }
}
